PMSM.csv
.vscode
loss_300.pth
nn_verilog/a.out
nn_verilog/biases_hidden1_hex.txt
nn_verilog/biases_output_hex.txt
nn_verilog/weights_hidden1_hex.txt
nn_verilog/weights_output_hex.txt
nn_verilog/fixed_point_def.vh
fpga_gen.py
nn_verilog.zip
vivado.jou
vivado.log
zynet.tcl
dataparams
src
fpga
weightsandbiases